*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-size: 16px;
}

@font-face {
  font-family:"calculator-font";
  src: url("./font/Calculator.ttf") format("truetype");
}

body {
  font-family: calculator-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C2C2D6;
  height: 100vh;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 10px;
}
